name: build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push multi-ruby devcontainer
        uses: devcontainers/ci@v0.3
        with:
          subFolder: multi-ruby
          imageName: ghcr.io/${{github.repository_owner}}/multi-ruby-devcontainer
